<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{HELP_TITLE} — Документация системы управления</title>
<link rel="stylesheet" href="/templates/easy/css/help.css" />
</head>
<body>
<div class="container_12 easy-view">
	<div class="grid_12">
		<div class="logo"></div>
	</div>
	<div class="clear"></div>
	<div class="main-view">
		<div class="grid_12">
			<div  id="top">
				<h1>
					 Инструкция по работе с системой управления сайтом
				</h1>
				<p class="alert">Внимание! Элементы меню данной сборки CRM могут отличаться от приведенных ниже.</p>
			</div>
		</div>
		<div class="clear"></div>
		<div class="grid_3 side-bar">
			<div id="mmenu">
				<h2>Оглавление:</h2>
				<ul>
					<li><a href="#h-main">Общие сведения</a>
						<ul>
							<li><a href="#h-main-auth">Авторизация в системе</a></li>
							<li><a href="#h-main-structure">Структура интерфейса</a></li>
						</ul>
					</li>
					<li><a href="#h-tree">Работа с деревом документа</a>
						<ul>
							<li><a href="#h-tree-folder">Работа с папками</a></li>
							<li><a href="#h-tree-pages">Работа со страницами</a>
								<ul>
									<li><a href="#h-tree-pages-create">Создание страницы</a></li>
									<li><a href="#h-tree-pages-edit">Редактирование содержимого страницы</a></li>
									<li><a href="#h-tree-pages-move">Перемещение страницы</a></li>
									<li><a href="#h-tree-pages-remove">Удаление страницы</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#h-news">Работа с новостями</a>
						<ul>
							<li><a href="#h-news-create">Создание новости</a></li>
							<li><a href="#h-news-edit">Редактирование текста новости</a></li>
							<li><a href="#h-news-edit2">Редактирование анонса</a></li>
							<li><a href="#h-news-date">Установка даты</a></li>
							<li><a href="#h-news-delete">Удаление новости</a></li>
							<li><a href="#h-news-add">Установка дополнительных параметров новости</a></li>
						</ul>
					</li>
					<li><a href="#h-images">Работа с модулем изображений</a></li>
					<li><a href="#h-cat">Работа с модулем управления каталогом товаров</a>
						<ul>
							<li><a href="#h-cat-info">Назначение модуля управления каталогом товаров</a></li>
							<li><a href="#h-cat-new-cat">Создание каталога</a></li>
							<li><a href="#h-cat-new-item">Добавление товара</a>
								<ul>
									<li><a href="#h-cat-new-item-edit">Редактирование описания</a></li>
									<li><a href="#h-cat-new-item-image">Добавление изображения товара</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#h-block">Работа с информационными блоками</a>
						<ul>
							<li><a href="#h-block-info">Назначение блоков</a></li>
							<li><a href="#h-block-edit">Редактирование содержимого блока</a></li>
						</ul>
					</li>
					<li><a href="#h-settings">Настройки сайта</a>
						<ul>
							<li><a href="#h-settings-user">Изменение имени пользователя и пароля</a></li>
							<li><a href="#h-settings-add">Добавление пользователя</a></li>
							<li><a href="#h-settings-edit">Изменение логина и группы пользователя</a></li>
							<li><a href="#h-settings-remove">Удаление пользователя</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="grid_9">
			<div id="content">
				<a name="h-main"></a>
				<h2>Общие сведения</h2>

				<a name="h-main-auth"></a>
				<h3>Авторизация в системе</h3>

				<p>Для авторизации в системе перейти по адресу http://mysite.ru/login.html и ввести имя пользователя и пароль в форму авторизации</p>
				<img src="/templates/easy/i/help/001.jpg" alt="">

				<a name="h-main-structure"></a>
				<h3>Структура интерфейса</h3>

				<p>После авторизации открывается система управления сайтом. Слева расположено меню вызова модулей системы, а справа формируется рабочее поле текущего вызванного модуля. Интерфейс  работает без перезагрузки страниц. При работе с элементами в рабочем поле большинство функций управления вызывается при клике правой кнопкой на элементе. В браузере Operaиз-за особенностей системы безопасности вызов меню по правой кнопке невозможен, поэтому в опере меню управления элементом формируется при клике на дополнительно сформированный элемент в виде окружности со стрелками вниз:</p>
				<img src="/templates/easy/i/help/002.jpg" alt="">

				<p>Назначение пунктов меню:</p>
				<ul>
					<li>Структура сайта – модуль управления страницами сайта</li>
					<li>Изображения – модуль управления изображениями</li>
					<li>Каталог – модуль управления каталогом товаров</li>
					<li>Новости – модуль управления новостями</li>
					<li>Блоки – модуль управления блоками</li>
					<li>Пользователи – модуль управления пользователями</li>
				</ul>

				<a name="h-tree"></a>
				<h2>Работа с деревом документа</h2>

				<a name="h-tree-folder"></a>
				<h3>Работа с папками</h3>

				<span class="i_header">Вид меню для папки:</span>
				<img src="/templates/easy/i/help/003.jpg" alt="">
				<p>Главное меню сайта формируется автоматически на основе страниц, размещенных в папке «Главное меню, русская версия сайта» Вспомогательные страницы, которые не отражаются в главном меню, необходимо размещать в папке «Дополнительное дерево сайта»</p>
				<p>Для создания папки необходимо нажать на «+» и выбрать «Создать каталог», затем, щелкнув правой кнопкой мыши на появившемся каталоге, выбрать шаблон «Раздел», задать соответствующие права доступа.</p>
				<img src="/templates/easy/i/help/005.jpg" alt="">
				<p>Каждая папка может содержать страницы, для папки можно установить права доступа (видимости). Если какая-либо страница или папка существует в структуре сайта, но не отображается в меню и при доступе по прямому адресу ссылки система отображает сообщение, что страница не существует, то вероятнее всего не установлена видимость страницы в пункте «Права доступа» в меню для соответствующей группы пользователей. Для того, чтобы страница сайта была видна всем, нужно поставить права доступа "Анонимный пользователь".</p>

				<a name="h-tree-pages"></a>
				<h3>Работа со страницами</h3>

				<span class="i_header">Вид меню для страницы:</span>
				<img src="/templates/easy/i/help/004.jpg" alt="">

				<a name="h-tree-pages-create"></a>
				<h4>Создание страницы</h4>
				<p>Для создания страницы необходимо нажать на «+» и выбрать необходимый пункт меню.	В зависимости от установленных шаблонов страниц, следует выбирать «Создать страницу на основе - Сайт. Главная страница», «Создать страницу на основе - Сайт. Внутренняя страница» или какой-то другой шаблон, если установлен.</p>
				<img src="/templates/easy/i/help/006.jpg" alt="">
				<p>По умолчанию главной страницей сайта является страница &laquo;Главная (index.html)&raquo; &mdash; она отмечена звездочкой, но при необходимости главной можно сделать любую другую страницу.</p>
				<img src="/templates/easy/i/help/007.jpg" alt="">

				<h5>Изменение имени для меню и адреса ссылки</h5>
				<p>Для изменения названия для меню и адреса страницы, необходимо в меню страницы выбрать пункт «Переименовать», ввести новое имя страницы и нажать Enter.</p>
				<img src="/templates/easy/i/help/008.jpg" alt="">
				<p>После изменения имени страницы система предложит автоматически переведенный в транслит вариант ссылки страницы. При необходимости его можно переформулировать. При вводе допускаются только латинские символы, цифры и знак подчеркивания.</p>
				<img src="/templates/easy/i/help/009.jpg" alt="">

				<h5>Заполнение метаданных – ключевых слов, описания, заголовка для браузера</h5>
				<p>Для изменения ключевых слов, описания и заголовка страницы для браузера, необходимо выбрать в меню пункт «Редактировать meta-информацию»</p>
				<img src="/templates/easy/i/help/010.jpg" alt="">
				<img src="/templates/easy/i/help/011.jpg" alt="">

				<a name="h-tree-pages-edit"></a>
				<h4>Редактирование содержимого страницы</h4>

				<h5>Редактирование заголовка страницы</h5>
				<p>Если шаблоны страниц имеют возможность вывода заголовков для данных страниц на сайте, то эти заголовки можно изменять, выбрав соответствующий пункт меню.</p>
				<img src="/templates/easy/i/help/014.jpg" alt="">

				<h5>Редактирование текста</h5>
				<p>Редактирование текста на странице (а также в новостях и информационных блоках) производится с помощью визуального редактора, по типу MicrosoftWord Для вызова редактора содержимого необходимо выбрать в меню страницы пункт «Редактировать текст»</p>
				<img src="/templates/easy/i/help/012.jpg" alt="">
				<span class="i_header">Визуальный редактор</span>
				<img src="/templates/easy/i/help/013.jpg" alt="">
				<p class="alert">Внимание! Если вы хотите вставить текст, скопированный из MicrosoftWord или другого редактора, нажмите на кнопку «Вставить из Word» на панели редактора и вставьте текст в появившееся окно.</p>

				<h5>Вставка изображения</h5>
				<p>Для вставки в текст страницы изображения необходимо выбрать кнопку «Вставить изображение» на панели редактора. Появится окно вставки изображения. Можно сразу ввести адрес картинки, если он известен, либо посмотреть на сервере</p>
				<img src="/templates/easy/i/help/015.jpg" alt="">
				<img src="/templates/easy/i/help/020.jpg" alt="">
				<p>При нажатии на кнопку «Посмотреть на сервере» откроется окно менеджера изображений CKFinder</p>
				<p>Изображения в менеджере доступны для изменения, просмотра и вставки в текст редактора</p>
				<p>Нажмите на кнопку «Загрузка» в панели менеджера, нажмите на кнопку «Выбрать файл» и выберите необходимое для загрузки изображение на своем жестком диске.</p>
				<img src="/templates/easy/i/help/017.jpg" alt="">
				<p>После того, как файл выбран, нажмите на кнопку «Загрузить выбранный файл»</p>
				<img src="/templates/easy/i/help/018.jpg" alt="">
				<p>После загрузки файл появится в менеджере, где его можно выбрать для вставки</p>
				<img src="/templates/easy/i/help/019.jpg" alt="">
				<p>Отредактировать дополнительные параметры, такие как ширина, высота, отступы текста от изображения, обтекание в тексте по левому или правому краю.</p>
				<img src="/templates/easy/i/help/016.jpg" alt="">
				<p>Вставьте изображение в текст редактора.</p>

				<h5>Вставка ссылки</h5>
				<p>Для вставки ссылки выделите текст, который хотите сделать ссылкой. Выберите в панели редактора кнопку «Вставить ссылку».</p>
				<img src="/templates/easy/i/help/021.jpg" alt="">
				<p>Откроется окно редактирования ссылки, где нужно ввести адрес для ссылки.</p>
				<img src="/templates/easy/i/help/022.jpg" alt="">
				<p>Нажмите «Ок» и выделенный текст станет ссылкой.</p>
				<p>Если нужно удалить ссылку, выберите в панели редактора кнопку «Убрать ссылку».</p>
				<img src="/templates/easy/i/help/024.jpg" alt="">

				<a name="h-tree-pages-move"></a>
				<h4>Перемещение страницы</h4>

				<h5>Перемещение внутри папки</h5>
				<p>Для перемещения страницы внутри папки (изменения порядка следования страниц внутри папки) её можно просто перетащить мышкой на желаемую позицию.</p>

				<h5>Перемещение между папками</h5>
				<p>Выбрать «Вырезать» в меню страницы</p>
				<img src="/templates/easy/i/help/025.jpg" alt="">
				<p>Перейти на один уровень выше папки, в которую необходимо вставить страницу и в меню целевой папки выбрать «Вставить»</p>
				<img src="/templates/easy/i/help/026.jpg" alt="">
				<p>Страница вставится внутрь целевой папки</p>

				<a name="h-tree-pages-remove"></a>
				<h4>Удаление страницы</h4>

				<p>Выбрать «Удалить» в меню страницы</p>
				<img src="/templates/easy/i/help/027.jpg" alt="">
				<p>При удалении страницы система запросит подтверждение удаления, для предотвращения случайного удаления. Нажмите либо «Отмена», либо «Удалить».</p>

				<a name="h-news"></a>
				<h2>Работа с новостями</h2>

				<a name="h-news-create"></a>
				<h3>Создание новости</h3>
				<p>Для создания новости перейти в модуль новостей и выбрать «Добавить новость» в меню</p>
				<img src="/templates/easy/i/help/028.jpg" alt="">
				<p>В списке новостей появится новый элемент. В меню созданной новости выберите «Переименовать» и введите заголовок новости</p>
				<img src="/templates/easy/i/help/029.jpg" alt="">
				<img src="/templates/easy/i/help/030.jpg" alt="">
				<p>Система сразу предложит автоматически переведенный в транслит адрес ссылки для новости. Можно изменить его</p>
				<img src="/templates/easy/i/help/031.jpg" alt="">

				<a name="h-news-edit"></a>
				<h3>Редактирование текста новости</h3>
				<p>Для редактирования полного текста новости необходимо выбрать в меню новости пункт «Изменить текст»</p>
				<img src="/templates/easy/i/help/032.jpg" alt="">
				<p>Откроется визуальный редактор. Работа с ним аналогична работе с редактором страницы</p>
				<img src="/templates/easy/i/help/033.jpg" alt="">

				<a name="h-news-edit2"></a>
				<h3>Редактирование анонса новости</h3>
				<p>Для редактирования анонса новости необходимо выбрать в меню пункт «Изменить анонс»</p>
				<img src="/templates/easy/i/help/034.jpg" alt="">
				<p>Откроется поле редактирования анонса. Оно не содержит визуального редактора, так как предполагается, что анонс новости состоит из одного предложения текста.</p>
				<img src="/templates/easy/i/help/035.jpg" alt="">

				<a name="h-news-date"></a>
				<h3>Установка даты новости</h3>
				<p>Для установки отображаемой даты новости необходимо выбрать в меню пункт «Изменить дату»</p>
				<img src="/templates/easy/i/help/036.jpg" alt="">
				<p>В появившемся календаре выбрать желаемую дату отображения новости.</p>
				<img src="/templates/easy/i/help/037.jpg" alt="">

				<a name="h-news-delete"></a>
				<h3>Удаление новости</h3>
				<p>Для удаления новости необходимо выбрать в меню новости пункт «Удалить». Появится окно подтверждения удаления.</p>
				<img src="/templates/easy/i/help/038.jpg" alt="">

				<a name="h-news-add"></a>
				<h3>Установка дополнительных параметров новости</h3>
				<p>Если предусмотрено вариантом сборки, возможно установить пометку «Важная новость», рядом с ней появится звездочка.</p>
				<img src="/templates/easy/i/help/039.jpg" alt="">

				<p>Если предусмотрено вариантом сборки, возможно дополнительно к анонсу присоединить изображение.</p>
				<img src="/templates/easy/i/help/040.jpg" alt="">
				<p>Появится окно в котором можно управлять каталогами и изображениями.</p>
				<img src="/templates/easy/i/help/041.jpg" alt="">
				<p>Нажав на «+» можно создать новый каталог или загрузить файл изображения.</p>
				<img src="/templates/easy/i/help/042.jpg" alt="">
				<p>Загрузив изображение, оно появится в целевой папке</p>
				<img src="/templates/easy/i/help/043.jpg" alt="">
				<p>Теперь его можно перетащить мышкой в серое поле справа, для прикрепления к новости. Для открепления изображения, перетащите его за пределы серого поля.</p>
				<img src="/templates/easy/i/help/044.jpg" alt="">
				<p>Нажмите «Выбрать».</p>

				<a name="h-images"></a>
				<h2>Работа с модулем изображений</h2>
				<p>Модуль изображений служит для загрузки изображений на сайт.</p>
				<p>Изображения можно добавлять как непосредственно в модуль изображений, так и создавая необходимое число каталогов для различных категорий изображений.</p>
				<img src="/templates/easy/i/help/045.jpg" alt="">
				<p>При выборе «Создать каталог» будет создан новый каталог, который можно переименовать, удалить или открыть.<br>При выборе «Загрузить файл» будет предложено выбрать необходимый файл на жестком диске компьютера. Выбрать можно как одиночный файл, так и несколько файлов.</p>
				<p>После выбора, файлы загружаются на сервер и доступны для использования.</p>

				<a name="h-cat"></a>
				<h2>Работа с модулем управления каталогом товаров</h2>

				<a name="h-cat-info"></a>
				<h3>Назначение модуля управления каталогом товаров</h3>
				<p>Модуль управления каталогом предназначен для создания различных категорий товаров, их подкатегорий и добавления в них различного рода товаров.</p>
				<p>После создания каталога, он автоматически отображается в меню выбора категорий товаров на сайте. Перетаскивая мышью каталоги вверх-вниз, можно менять из расположение в меню.</p>
				<p class="alert">Внимание! Изображения для каталога товаров должны быть загружены заранее в модуль «Изображения».</p>

				<a name="h-cat-new-cat"></a>
				<h3>Создание каталога</h3>
				<img src="/templates/easy/i/help/046.jpg" alt="">
				<p>В модуле «Каталог» нажатием на «+» выберите «Создать каталог». Появляется пустой каталог, который можно открыть, редактировать его описание, установить изображение каталога (только для каталогов первого уровня вложенности, не для подкаталогов), переименовать каталог или удалить его. В каталоге можно создать подкаталоги с подкатегориями товаров. </p>
				<img src="/templates/easy/i/help/047.jpg" alt="">

				<a name="h-cat-new-item"></a>
				<h3>Добавление товара</h3>
				<p>В модуле «Каталог» нажатием на «+» выберите «Добавить товар». Появится «Новый товар», для которого можно редактировать описание, добавить или изменить изображение товара, переименовать товар или удалить его. Сортировать товары можно простым перетаскиванием мышью на нужное место. Возможно установить признак «Новинка» для товара.</p>
				<img src="/templates/easy/i/help/048.jpg" alt="">

				<a name="h-cat-new-item-edit"></a>
				<h3>Редактирование описания</h3>
				<p>При выборе «редактировать описание» будет открыто окно редактирования текста, в котором можно ввести необходимое описание товара. При вставке текста из MSWord обязательно используйте функцию  «Вставить из Word».  В противном случае, введенная информация будет отображаться некорректно из-за большого количества лишних служебных символов, копируемых из Word вместе с текстом.</p>
				<img src="/templates/easy/i/help/049.jpg" alt="">

				<a name="h-cat-new-item-image"></a>
				<h3>Добавление изображения товара</h3>
				<p>При выборе пункта «Изображение товара» можно добавить, заменить или удалить изображение текущего товара.  Появляется окно выбора изображения. Для того, чтобы добавить изображение к товару, это изображение необходимо изначально загрузить в модуль «Изображения», после этого оно станет доступно для выбора в модуле «Каталог». Найдите необходимое изображение, переместите его на серое поле справа и сохраните выбор. Изображение будет добавлено к товару. Для удаления изображения, перетащите текущее изображение за пределы серого поля и сохраните выбор.</p>
				<img src="/templates/easy/i/help/050.jpg" alt="">

				<a name="h-block"></a>
				<h2>Работа с информационными блоками</h2>

				<a name="h-block-info"></a>
				<h3>Назначение блоков</h3>
				<p>Информационные блоки содержат информацию, которая используется на многих страницах сайта, но меняется в системе управления в одном месте. Назначение каждого отдельного блока можно легко понять из его названия.</p>
				<img src="/templates/easy/i/help/051.jpg" alt="">

				<a name="h-block-edit"></a>
				<h3>Редактирование содержимого блока</h3>
				<p>Для редактирования блока необходимо выбрать в меню блока пункт «Редактировать текст». Откроется визуальный редактор, такой же, как при редактировании страниц сайта</p>

				<a name="h-settings"></a>
				<h2>Настройки сайта</h2>

				<a name="h-settings-user"></a>
				<h3>Изменение имени пользователя и пароля</h3>
				<p>Для изменения пароля пользователя  системы управления, войдите в модуль настроек сайта, выберите раздел «Пользователи». Откроется список пользователей с описанием принадлежности к группе: Администраторов, Менеджеров, Гостей. Нажмите на необходимой учетной записи правой кнопкой мыши и выберите в выпадающем списке опцию «Изменить пароль» или «Изменить имя».  Появится окно ввода нового пароля или имени. Будьте внимательны, запишите или запомните новый пароль пользователя сайтом, если вы его забудете, восстановление будет невозможно, так как пароли хранятся в базе данных в зашифрованном виде. В случае утраты пароля, свяжитесь с разработчиком. </p>
				<img src="/templates/easy/i/help/052.jpg" alt="">

				<a name="h-settings-add"></a>
				<h3>Добавление пользователя</h3>
				<p>Чтобы добавить нового пользователя, выберите в модуле настроек сайта раздел «Пользователи» и нажмите на «+» и выберите в меню «Добавить пользователя»</p>
				<img src="/templates/easy/i/help/053.jpg" alt="">

				<a name="h-settings-edit"></a>
				<h3>Изменение логина и группы пользователя</h3>
				<p>Чтобы сменить логин, нажмите на текущем названии в поле «Логин»</p>
				<img src="/templates/easy/i/help/054.jpg" alt="">
				<p>Чтобы изменить принадлежность выбранного пользователя к группе, нажмите на название текущей группы в поле «Группа», появится выбор группы с соответствующими правами доступа к сайту: анонимный пользователь (только просмотр сайта), менеджер (редактирование страниц, текстов), администратор (редактирование страниц, доступ к настройкам сайта, управление пользователями). </p>
				<img src="/templates/easy/i/help/055.jpg" alt="">

				<a name="h-settings-remove"></a>
				<h3>Удаление пользователя</h3>
				<img src="/templates/easy/i/help/056.jpg" alt="">

			</div>
		</div>
	</div>  <!-- end .main-view -->
	<div class="clear"></div>
	<div class="grid_12">
	<p id="footer">
		&copy; 1999&mdash;{CURYEAR} <a href="http://easylabs.ru">Лаборатория Easy Labs</a>
	</p>
	</div>
	<div class="clear"></div>
</div>
</body>
</html>